/* mobile first */
.portræt {
  width: 300px;
  height: auto;
}
.hero {
  position: relative;
  display: inline-block;
}

.hero h1 {
  position: absolute;
  top: -45px;
  left: -50px;
  transform: rotate(-14deg);

  z-index: 2;
  margin-top: 0;
}

.portræt {
  display: block;
}
.intro {
  background-color: #f4efe7;
  padding: 40px 20px;
  text-align: center;
  margin-top: 30px;
}

main {
  text-align: center;
  margin-top: 50px;
}

main p {
  max-width: 400px;
  margin: 30px auto;
  padding: 25px;
  background-color: #f4efe7;
  color: #5f86ad;
  font-size: 1.2em;
}

/* desktop */
@media (min-width: 800px) {
  h1 {
    font-size: 8em;
  }
  h2 {
    font-size: 4em;
    margin-top: 70px;
  }
  h3 {
    font-size: 1.75em;
    margin-top: 5px;
  }

  .portræt {
    width: 300px;
    display: block;
    margin: 0;
  }

  main {
    margin-top: 80px;
  }
  main p {
    max-width: 900px;
    padding: 0 20px;
    font-size: 1.25em;
    line-height: 1.6;
  }

  .cta {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    width: 150px;
    text-align: center;

    display: inline-block;
    margin: 25px 40px;
  }

  .hero {
    position: relative;
    display: inline-block;
  }

  .hero h1 {
    position: absolute;
    top: -60px;
    left: -70px;
    transform: rotate(-17deg);

    z-index: 2;
    margin-top: 0;
  }

  .portræt {
    display: block;
  }
}
