.portræt {
  width: 300px;
  height: auto;
}

/* Accordion */
details {
  outline: 2px solid #ffffff;
}

summary {
  background: #5f85a7;
  cursor: pointer;
  padding: 1rem;
}

.content {
  padding: 1rem;
}

.content p {
  margin: 0;
}

summary::marker {
  content: none;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

summary::after {
  content: "+";
}

[open] summary::after {
  content: "–";
}

html {
  interpolate-size: allow-keywords;
}

::details-content {
  height: 0;
  overflow: clip;
  transition: height 0.3s ease;
}

[open]::details-content {
  height: auto;
}

/* desktop */
@media (min-width: 800px) {
}
