/* mobile first */
.tema {
  display: none;
}

.tema.active-tema {
  display: block;
}

.hero-projekter {
  padding-top: 1.5rem;
  text-align: center;
}

.hero-projekter h1 {
  font-family: more-sugar, cursive;
  color: red;
  font-size: 5rem;
  transform: rotate(-8deg);
  margin-bottom: -3rem;
}

.tema-knapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 80%;
  max-width: 430px;
  margin: 2rem auto 0;
}

.tema-btn {
  background-color: #f6f2eb;
  color: rgb(255, 0, 0);
  border: 1px solid red;
  padding: 18px 0;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.tema-btn.active {
  background-color: #5f85a7;
  color: white;
}

.tema-btn:nth-child(5) {
  grid-column: 1 / 3;
  width: 100%;
  max-width: 200px;
  justify-self: center;
}

.tema {
  padding-top: 2rem;
}

.tema h3 {
  color: #5f85a7;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  margin: 2rem 1rem 3rem;
}

.løsning-box,
.refleksion-box {
  background-color: #f6f2eb;
  padding: 2.5rem 1.5rem;
  text-align: center;
}

.proces-box {
  background-color: white;
  padding: 2.5rem 1.5rem;
  text-align: center;
}

.løsning-box h2,
.proces-box h2,
.refleksion-box h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.løsning-box p,
.proces-box p,
.refleksion-box p {
  text-align: center;
  max-width: 32rem;
  margin: 0 auto 2rem;
  line-height: 1.6;
}

.tema-screenshot {
  display: block;
  margin: 0 auto;
  max-width: 250px;
  height: auto;
}

/* desktop */
@media (min-width: 800px) {
  .tema {
    padding-top: 3rem;
  }

  .tema-screenshot {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .tema-knapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 520px;
    max-width: 520px;
    margin: 2rem auto 0;
  }

  .tema-btn {
    width: 140px;
  }

  .tema-btn:nth-child(5) {
    width: 140px;
    max-width: none;
  }

  .løsning-box,
  .proces-box,
  .refleksion-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    align-items: center;
    padding: 4rem 5rem;
  }

  .løsning-box h2,
  .refleksion-box h2 {
    grid-column: 1;
  }

  .løsning-box p,
  .refleksion-box p {
    grid-column: 1;
  }

  .løsning-box .tema-screenshot,
  .refleksion-box .tema-screenshot {
    grid-column: 2;
    grid-row: 1 / 3;
    justify-self: center;
  }

  .proces-box {
    grid-template-columns: 0.8fr 1.3fr;
    background-color: white;
  }

  .proces-box .tema-screenshot {
    grid-column: 1;
    grid-row: 1 / 3;
    justify-self: center;
  }

  .proces-box h2,
  .proces-box p {
    grid-column: 2;
  }

  .løsning-box h2,
  .proces-box h2,
  .refleksion-box h2 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .løsning-box p,
  .proces-box p,
  .refleksion-box p {
    text-align: left;
    max-width: 38rem;
  }
}
